<!DOCTYPE html>
<head>
  <title>Pusher Test</title>
  <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
</head>
<body>
  <h1>Pusher Test</h1>
  <p>
    Try publishing an event to channel <code>my-channel</code> with event name
    <code>my-event</code>.
  </p>
  <div id="message"></div>

  <script>
    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher("5d9a85133f31dbf94b8a", {
      cluster: "ap1",
    });

    var container = document.getElementById("message");

    var channel = pusher.subscribe("my-channel");
    channel.bind("my-event", function (data) {
      data.data.map((mes) => {
        container.innerHTML += `<h3>${mes.username}</h3><p>${mes.message}<p>`;
      });
    });
  </script>
</body>
